.container{
    display: flex;
    width: 1280px;
}
.accent-color{
    color: #000000;
}
.accent-color2{
    color: #4BCAFF;
}
.intro_title{
    font-weight: 400;
font-size: 80px;
line-height: 94px;
display: flex;

text-align: center;
padding-left: 98px;
margin-top: 63px;
margin-bottom: 38px;

color: #000000;
}
.navigation{
    padding-left: 98px;
}

.menu{
    display: flex;
    width: 1283px;
height: 72px;
margin-top: 0;
    margin-bottom: 0;

text-decoration: none;
background: #35444F;
align-content: center;

justify-content: center;
align-content: center;

}

.menu-item{
    font-weight: 400;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: flex-end;
border-left: 1px solid #FFFFFF;
border-right: 1px solid #FFFFFF;
color: #FFFFFF;
padding-left: 35px;
padding-right: 35px;
padding-top: 26px;
padding-bottom: 19px;

}
.services{
    padding-left: 98px;
}


.services-menu{
    display: flex;
    width: 344px;
height: 399px;

flex-direction: column;
list-style-type: none;

border: 1px solid #000000;


}
.services-item{
display: flex;
width: 344px;
height: 399px;
font-weight: 400;
font-size: 24px;
line-height: 24px;
margin-top: 25px;
margin-bottom: 25px;
align-items: center;

color: #485863;

}
.services-item-current{
   
font-weight: 400px;
font-size: 24px;
line-height: 24px;
margin-top: 25px;
margin-bottom: 25px;

padding-top: 22px;
    padding-bottom: 16px;
   
background: #DBDBDB;



color: #485863;
}


.logo{
    display: flex;
    flex-direction: column;
  
    width: 885px;
  
height: 529px;
margin-left: 98px;

align-items: center;
padding-top: 1px;
padding-bottom: 73px ;
background: rgba(0, 0, 0, 0.0001);
border: 1px solid #000000;

margin-top: 48px;

}
.logo-picture{
    width: 320px;
height: 381px;
margin-left: 50px;
margin-top: 75px;


}
.logo-text{
    width: 885px;
height: 120px;
font-weight: 400;
font-size: 18px;
line-height: 24px;
margin-bottom: 54px;
padding-left: 98px;

color: #2C2C2C;

}
.lower{
    display: flex;
    padding-top: 100px ;
    padding-bottom: 30px;
    padding-left: 98px;
}
.lower-menu{
    
        display: flex;
        width: 1280px;
height: 69px;

    /*margin-top: 0;
        margin-bottom: 0;*/
    
    list-style-type: none ;
    background: #63696E7A;
    align-content: center;
    
    justify-content: center;
   
    padding-left: 162px;
    padding-right: 133px;
    }
.lower-item{
    font-weight: 400;
font-size: 28px;
line-height: 28px;

display: flex;
align-items: center;
margin-left: 40px;
margin-right: 40px;
color: #0C1927;
}
.lower-item-current1{
    font-weight: 400;
font-size: 28px;
line-height: 28px;
margin-right: 40px;
margin-left: 135px;
display: flex;
align-items: center;


color: #0C1927;
}
.lower-item-current{
    font-weight: 400;
font-size: 28px;
line-height: 28px;
text-decoration: underline;
display: flex;
align-items: center;
margin-left: 40px;
margin-right: 40px;
color: #3181A6;
}

